body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* common */
.app-bg {
  background-color: #eef0f5;
}

.more-rounded {
  border-radius: 10px;
}

.red-grad-bg {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
}

.blue-grad-bg {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

.green-grad-bg {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.purple-grad-bg {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
}

.cursor-pointer {
  cursor: pointer;
}

.show-custom-modal {
  visibility: visible;
}

.hide-custom-modal {
  visibility: hidden;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
}

.custom-modal-body {
  width: 90%;
  height: 95vh;
  background-color: white;
}

/* animation */
.zoom-hover {
  transition: transform .2s;
}

.zoom-hover:hover {
  transform: scale(1.1);
}