body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Loading screen animation  */
.loading-screen {
  height: 100vh;
  width: 20vw;
  animation: loading 1s infinite;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(67, 64, 224);
  animation: grad-loading 1s infinite
}

.grad-loading {
  animation: grad-text 1s infinite
}

@keyframes loading {
  0% {
    transform: translate(0, -60px);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(0, -60px);
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes grad-loading {
  0% {
    background-color: rgb(67, 64, 224);
  }

  50% {
    background: rgb(255, 74, 74);
  }
}

@keyframes grad-text {
  0% {
    color: rgb(67, 64, 224);
  }

  50% {
    color: rgb(255, 74, 74);
  }
}

/* common */
.app-bg {
  background-color: #eef0f5;
}

.more-rounded {
  border-radius: 10px;
}

.red-grad-bg {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
}

.blue-grad-bg {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

.green-grad-bg {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.purple-grad-bg {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
}

.cursor-pointer {
  cursor: pointer;
}

.show-custom-modal {
  visibility: visible;
}

.hide-custom-modal {
  visibility: hidden;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-body {
}

.page-header {
  overflow: hidden;
}

.white-trans-bg {
  background: rgba(85, 85, 85, 0.63);
}

/* animation */
.zoom-hover {
  transition: transform 0.2s;
}

.zoom-hover:hover {
  transform: scale(1.1);
}

@keyframes custom-fade-from-left-to-right {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}

.custom-fade {
  animation: custom-fade-from-left-to-right 2s backwards;
}

/* page background image */
.about-bg {
  background-image: url(./img/about-bg-2.jpg);
}

img.about-self-pic {
  width: 30%;
  border-radius: 10px;
  border-top: 5px solid rgba(255, 255, 255, 0.493);
  border-bottom: 5px solid rgba(255, 255, 255, 0.493);
}

.course-bg {
  background-image: url(./img/course-bg.jpeg);
}

.lang-bg {
  background-image: url(./img/lang-bg.jpg);
}

.fav-bg {
  background-image: url(./img/fav-bg.jpg);
}

#sidebar-button {
  display: none;
}

/* responsive sidebar*/

@media screen and (min-width: 770px) {
  #sidebar {
  }

  #mobile-sidebar {
    display: none !important;
  }
}

@media screen and (max-width: 770px) {
  .loading-screen {
    height: 100%;
    width: 50vw;
    animation: loading 1s infinite;
  }

  #sidebar {
    display: none !important;
  }

  #mobile-sidebar {
    display: block !important;
  }
}
